<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/common-head">
    <title>Форма добавления товара</title>
</head>
<body>
<nav th:replace="fragments/nav-bar::nav-bar">
</nav>
<div class="container">
    <h1 th:text="#{title.product.form}">Форма добавления товара</h1>
    <div class="row">
        <form method="post" th:action="@{/admin/add}" class="col-md-6" th:object="${productShortDto}">
            <div class="mb-3">
                <label for="name" class="form-label">Название</label>
                <input type="text" class="form-control" id="name" th:field="*{title}">
                <br>
                <div th:each="err : ${#fields.errors('title')}" th:text="${err}" class="alert alert-danger">
                </div>
            </div>
            <div class="mb-3">
                <label for="categories" class="form-label">Категория</label>
                <input class="form-control" list="categoriesOptions" id="categories" placeholder="Выберите категорию"
                       th:field="*{category}" required>
                <datalist id="categoriesOptions">
                    <option th:each="category : ${categories}" value="Категория" th:value="${category}">
                </datalist>
                <div th:if="${notFound}" th:text="${notFound.getMessage()}" class="alert alert-danger">
                </div>
            </div>
            <div class="mb-3">
                <label for="score" class="form-label">Цена</label>
                <input type="number" class="form-control" id="score" th:field="*{price}">
                <br>
                <div th:each="err : ${#fields.errors('price')}" th:text="${err}" class="alert alert-danger">
                </div>
            </div>
            <a th:href="@{'/'}" class="btn btn-secondary">Отмена</a>
            <button type="submit" class="btn btn-primary">Сохранить</button>
        </form>
    </div>
</div>
</body>
</html>
