<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:include="fragments/common-head">
    <title>Список товаров</title>
</head>
<body>
<nav th:replace="fragments/nav-bar::nav-bar">
</nav>
<div class="container">
    <h1 th:text="#{title.product.list}">Список товаров</h1>
    <div  sec:authorize="isAuthenticated()">
        <h4 th:text="'Вы вошли как ' +${#authentication.getName()}"></h4>
    </div>
    <div class="row">
        <div th:each="product : ${products}" class="col-12 col-sm-6 col-md-3 mb-1">
            <div class="card h-100">
                <img class="card-body card-img-top" th:src="@{/images/image.png}" src="..." alt="Product info">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">
                        <a class="link-dark" th:href="@{${'/info/' + product.id}}" th:text="${product.title}">Подробнее</a>
                    </h5>

                    <p th:text="${product.category}" class="card-text">Категория</p>
                    <p th:text="${product.price}" class="card-text mt-auto">Цена</p>
                    <button th:attr="data-product-id=${product.id}" class="btn btn-success w-100" onclick="onClickAddToCart(this)">
                        В корзину
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
