<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/common-head">
    <title>Информация о товаре</title>
</head>
<body>
<nav th:replace="fragments/nav-bar::nav-bar">
</nav>
<div class="container">
    <div class="row justify-content-center g-0">
        <div class="col-6">
            <h2 th:text="#{title.product.info}">Информация о товаре</h2>
            <div class="card" style="max-width: 540px;">
                <div class="row">
                    <div class="col-md-4">
                        <img th:src="@{/images/image.png}" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 th:text="${'Id: ' + product.id}" class="card-title"></h5>
                            <p th:text="${'Название товара: ' + product.title}" class="card-text"></p>
                            <p th:text="${'Цена: ' + product.price}" class="card-text"><small class="text-muted"></small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
